// owl carousel theme

.owl {
    &-stage {
        @extend .d-flex;
    }

    &-dots {
        @extend .d-flex, .justify-content-center, .mt-3;
    }

    &-dot {
        @extend .mx-1;

        >span {
            width: 10px;
            height: 10px;
            background-color: transparent;
            border: 1px solid $secondary;
            @extend .rounded-circle, .d-block, .transition;
        }

        &.active,
        &:hover {
            span {
                background-color: $secondary;
            }
        }
    }

    &-nav {
        display: block;
        position: absolute;
        top: 32%;
        left: 0;
        right: 0;

        >button {
            position: absolute;

            >span {
                font-size: 4rem;
                font-weight: 300;
                color: $secondary;
            }
        }
    }

    &-prev {
        left: -44px;
    }

    &-next {
        right: -62px;
    }
}

// dots light
// .s-owl-dots-light {

//     .owl-dot {

//         >span {
//             background-color: transparent;
//             border: 1px solid $light;
//             @extend .rounded-circle, .d-block, .transition;
//         }

//         &.active,
//         &:hover {
//             span {
//                 background-color: $light;
//             }
//         }
//     }
// }
