// page header

.l-page-header {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

    .container {
        @media(min-width: 1800px) {
            max-width: 90%;
        }
    }

    .row {
        padding-top: 150px;
    }
}
