// tabela responsiva

.tabela-responsiva {

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        margin: .5em 0 .75em;
    }

    table tr {
        border: 1px solid #ddd;
        padding: .35em;

        &:nth-child(odd) {
            background-color: #f8f8f8;
        }
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 991px) {
        table {
            border: 0;
        }

        .table-striped>tbody>tr:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.05) !important;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table .thead-colspan {
            position: relative !important;
        }

        table .thead-colspan tr {
            width: 100%;
            background: #d64814;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        table .tbody-colspan tr td {
            text-align: center !important;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
            position: relative;
            // padding: 15px;
            padding: 15px 10px 15px 10rem;
        }

        table td::before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
            text-shadow: 1px 1px black;
            text-align: left;
            background: #ca0a37;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 40%;
            display: flex;
            align-items: center;
            padding: 0px 5px;
            border-right: 1px solid white;
        }

        table .tbody-colspan tr td::before {
            content: '' !important;
            position: relative !important;
            width: 0 !important;
            height: 0 !important;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }
}

.th-escuro {
    background: #340622;
    color: white;
}

.th-claro {
    background: #ca0a37;
    color: white;
}

.local-none {
    @media (min-width: 991px) {
        display: none;
    }
}
