$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icon-school: "\e912";
$icon-search: "\e910";
$icon-location_on: "\e90d";
$icon-menu: "\e90b";
$icon-home: "\e90c";
$icon-clear: "\e90a";
$icon-arrow_forward_ios: "\e904";
$icon-arrow_back_ios: "\e905";
$icon-keyboard_arrow_up: "\e906";
$icon-keyboard_arrow_right: "\e907";
$icon-keyboard_arrow_left: "\e908";
$icon-keyboard_arrow_down: "\e909";
$icon-user: "\e911";
$icon-calendar: "\e90e";
$icon-envelope-o: "\f003";
$icon-phone: "\f095";
$icon-envelope: "\f0e0";
$icon-circle-o: "\f10c";
$icon-circle: "\f111";
$icon-circle-thin: "\f1db";
$icon-commenting: "\f27a";
$icon-linkedin: "\e903";
$icon-youtube-play: "\e900";
$icon-instagram: "\e901";
$icon-facebook: "\e902";
$icon-facebook-f: "\e902";
$icon-price-tag: "\e90f";
